<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FL Savant (2.0)</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <header>
        <div class="header-content">
            <h1><a href="/">Frontier League Savant</a></h1>
            <hr>
            <nav>
                <ul>
                    <li><a href="pitcher">Pitchers</a></li>
                    <li><a href="hitter">Hitters</a></li>
                    <li><a href="umpire">Umpires</a></li>
                    <li><a href="catcher">Catchers</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <hr>

    <div class="container-fluid d-flex justify-content-center align-items-center justify-content-center">
        <div class="row">
            <div id="profile" class="col-xl-12 col-lg-10 fl-section text-center">
                <div class="text-center">
                    <h1 class="name text-center mt-4">Frontier League Savant</h1>
                    <br>
                    <h5>The hub for all Frontier League advanced stats, models, and visualizations.</h5>
                    <br>
                    <div class="social-icons">
                        <div class="hr-container-adj">
                            <div class="hr-content-adj">
                                <hr>
                                <span>Created by Jack Kelly</span>
                                <hr>
                            </div>
                        </div>
                        <a href="https://twitter.com/jkelly_1214" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/jack-kelly-64b813225/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                        <a href="mailto:kellyjc@rose-hulman.edu"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js">
    </script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</body>

</html>